* {
    flex-wrap:wrap;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
}

h2, a {
    color:#F9FAF8;
}

a {
    text-decoration: none;
    font-size:18px;
}
p {
    color:#E5E7EB;
}

button {
    display:block;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    color:#F9FAF8;
    background-color:#3882f6;
    font-family: 'Roboto', sans-serif;
}

.top {
    flex:1;
    display:flex;
    flex-direction: column;
    background-color: #1F2937;  
}

.header-box, .top-content {
    display: flex;
    align-items: center;
    margin: 0px 32px;
}

.header-box {
    flex:1
}

.header-box .logo {
    margin-right: auto;
    font-size:24px;
}

.top .header-links {
    display: flex;
    gap:16px;
}

.top-content {
    flex:4 4 0;
    margin-top:16px;
}


.top-content .text-box {
    display:flex;
    flex-direction: column;
    width:190px;
    margin-right: auto;
    gap:8px;

}


.text-box > * {
    margin:0px;
}

.top-image {
    height:250px;
    width:auto;
}


/* four section part of html */


.image-header {
    color:black;
    text-align: center;
    margin:32px 0;
}


.four-images {
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    height: 200px;
    width: 200px;
}



.image-box > p {
    width:150px;
    text-align:center;
    color:black;
    
}

#image {
    min-height: 150px;
    height:150px;
    width:150px;
    border: 5px solid blue;
       
}

